<h1>Language Visualizer</h1>
<div class="container">
  <button class="signup">Signup</button>
  <button class="login">Login</button>
  <div class="signupdisplay">
    <form action="/sigunup" method="post">
      <label for="username">Username</label><br>
      <input class="formputs" type="text" name="username"><br>
      <label for="password">Password</label><br>
      <input class="formputs password" type="text" name="password"><br>
      <input type="submit" value="Sign Up">
    </form>
  </div>
  <div class="logindisplay">
    <form action="/login" method="post">
      <label for="username">Username</label><br>
      <input class="formputs" type="text" name="username"><br>
      <label for="password">Password</label><br>
      <input class="formputs password" type="text" name="password"><br>
      <input type="submit" value="Login">
    </form>
  </div>
</div>

<script type="text/javascript">

$(function() {
  $('.signup').on('click', function(){
    $('.signupdisplay').css("display", "inline");
    $('.logindisplay').css("display", "none");
    $('.signup').css("display", "none");
    $('.login').css("display", "none");
  })
  $('.login').on('click', function(){
    $('.logindisplay').css("display", "inline");
    $('.signupdisplay').css("display", "none");
    $('.login').css("display", "none");
    $('.signup').css("display", "none");
  })
  $(".password").on('keyup', function(){
        console.log('keyup');
  })
});
</script>
